*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.66;
}

body {
    overflow-x: hidden;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section--spacing--lg {
    padding-top: 93px;
    padding-bottom: 93px;
}

.section__heading {
    margin-bottom: 82px;
    text-align: center;
}

button {
    transition: .3s;
    cursor: pointer;
}

a {
    cursor: pointer;
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add styles for all fonts */


h1{
    font-family: 'Poppins', sans-serif;
    /* Do not use it because it's normal by default font-style: normal;  - https://developer.mozilla.org/en-US/docs/Web/CSS/font-style */
    font-weight: 600;
    font-size: 72px;
    /*
    Line height should not be in PX, only EM
    78px font size
    72px line height

    = 78 / 72 = 1.08em

    line-height: 78px; - EUG
    */
    line-height: 1.08; /* Vitalii changed */
    color: #212121;
    margin-bottom: 23px;
}

@media screen and (max-width: 1440px) {
    h1 {
        font-size: 56px;
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 48px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.08; /* designer durak */
    color: #212121;
    margin-bottom: 20px;
}

@media screen and (max-width: 1440px) {
    h2 {
        font-size: 37px;
    }
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.08; /* designer durak */
    color: #212121;
    margin-bottom: 15px;
}

@media screen and (max-width: 1440px) {
    h3 {
        font-size: 23px;
    }
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08; /* designer durak */
    color: #212121;
    margin-bottom: 15px;
}

@media screen and (max-width: 1440px) {
    h4 {
        font-size: 20px;
    }
}


h5{
    
    /* We do not use width and height for typography
    width: 180px;
    height: 78px; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #212121;
    margin-bottom: 5px;
}

@media screen and (max-width: 1440px) {
    h5 {
        font-size: 19px;
    }
}

h6{
    /* font-family: 'Poppins';  Removed, as by design it's open sans, so we can remove it if we have open sans for body*/
    font-weight: 600;
    font-size: 20px;
    line-height: 27px; /* Line height should be in em, not px */
    color: #646464;
    margin-bottom: 5px;
}

@media screen and (max-width: 1440px) {
    h6 {
        font-size: 18px;
    }
}

p {
    font-size: 18px;
    color: #646464;
    margin-bottom: 15px;
}

@media screen and (max-width: 1440px) {
    p {
        font-size: 16px;
    }
}

span{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 78px;
    color: #FFFFFF;
}

@media screen and (max-width: 1440px) {
    span {
        font-size: 16px;
    }
}

.content-inner p:last-child {
    margin-bottom: 0;
}

.container{
    margin: 0 auto;
    width: 1346px;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* MENU */

.main-menu > ul > li{
    display: inline-block; /*Це значення створює блоковий елемент, який поводить себе подібно рядковому елементу.   */
}

header {
    padding-top: 34px;
    padding-bottom: 34px;
}

@media screen and (max-width: 991px) {
    header {
       display: none;
    }
    
    section, footer {
        display: none;
    }

    .hero, .services {
        display: block;
    }
}

header .container{
    display: flex;
    align-items: center; /*Елементи розташовані по центру контейнера.*/
    justify-content: space-between; /*Флекси рівномірно розподіляються по всьому рядку. Перший і останній флекс притискаються до відповідних країв контейнера.*/
}

.main-menu > ul > li {
    margin-right: 33px; 
}

.main-menu > ul > li:last-child {
    margin-right: 0;
}

.main-menu > ul > li > a{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #646464;
    /* margin-right: 33px ;   Remove from here and move to LI */
}

.btn{
    padding: 10px 20px 10px 20px;
    background: #CAA892;
    border-radius: 15px 0px;
    
}

.btn-color{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

/* HERO */

.hero {
    position: relative; /*Положення елемента встановлюється відносно його поточного положення*/
}

.hero__inner{
    display: flex;
    flex-wrap: wrap; /*Гнучкі елементи шикуються в кілька рядків, їх напрямок задається властивістю flex-direction.*/
    align-items: center; /*Елементи розташовані по центру контейнера.*/
    margin-left: -22px; /*чому від'ємне значення?*/
    margin-right: -22px;
}

@media screen and (max-width: 768px) {
    .hero__inner{
        width: 500px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.hero__left-block{
    width: 50%;
    padding-right: 22px;
    padding-left: 22px;
}

@media screen and (max-width: 768px) {
    .hero__left-block{
        width: 100%;
        padding-bottom: 50px;
    }
}

.hero__left-block .button {
    margin-top: 46px;
}

.hero__img-wrapper {
    width: 50%;
    padding-right: 22px;
    padding-left: 22px;
}

@media screen and (max-width: 768px) {
    .hero__img-wrapper{
        width: 100%;
    }
}

.hero__img-inner {
    position: relative; /* need this for after element*/
}

@media screen and (max-width: 1440px) {
    .hero__img-inner {
        max-width: calc(100% - 35px);
    }
}



/*
Селектор ::after додає що-небудь після контенту вказаного елемента(-ів).
Використовуйте властивість content для визначення власного контенту, що буде додано.
Порада:	
Щоб додати що-небуть в кінці змісту елемента, використовуйте селектор ::before.
*/

.hero__img-inner::after {
    content: "";
    position: absolute; /*Видаляє елемент з загального потоку. (місце, що звільнив елемент заповнюється іншими елементами) і вставляється відносно свого батьківського, не статично позиційованого елемента, якщо такого елемента немає, то їм вважається вікно браузера (При цьому ширина елемента, без задання, встановлюється за його вмістом). Нове місце розраховується за допомогою властивостей*/
    left: 33px;
    top: 33px;
    width: 100%;
    height: 100%;
    border-radius: 30% 0 30% 0;
    border: 2px solid #B0855B;
    z-index: -1; /*Властивість z-index визначає порядок стека елемента. Іншими словами, Ви можете розмістити елемент на сторінці вище іншого елементу або перед ним.*/
}

.hero__img {
    max-width: 100%;
    margin: auto; /*Браузер самостійно обчислить відступ.*/
    border: 6px;
    border-radius: 30% 0 30% 0;
    display: block; /*Елемент показується як блоковий. Вказавши це значення для елемента <span> - він почне вести себе як блоковий, тобто, його вміст буде завжди починатися з нового рядка.*/
    height: 100%;
}

.hero__decoration {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 212px;
}

@media screen and (max-width: 991px) {
    .hero__decoration {
        display: none;
    }
}

.hero__decoration svg {
    max-width: 100%;
}

.button {
    display: inline-block;
    background: #37806B;
    border-radius: 20px 0px;
    line-height: 1;
    padding: 12px 35px;
    color: white;
    text-transform: uppercase;
}

/* SERVICES */

.services-section1{
    font-family: 'Poppins';
}

.services-section2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 78px;
    color: #212121;
}

.services__header {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.services__title {
    padding-left: 15px;
    padding-right: 15px;
}

.decbase-arrows {
    padding-left: 15px;
    padding-right: 33px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin-left: -15px;
    margin-right: -15px; */
}

.decbase-arrows__btn {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.decbase-arrows__btn:first-child {
    margin-right: 18px;
}

.decbase-arrows__btn svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: .3s;
}

.decbase-arrows__btn:hover {
    background-color: #37806B;
}

.slick-track {
    padding-bottom: 25px;
}

.decbase-arrows__btn:hover path {
    stroke: white;
}

.decbase-arrows__btn--next svg{
    transform: translate(-50%,-50%) rotate(180deg);
}


.services__block-item{
    /* display: flex;
    justify-content: center; Елементи розташовані в центрі контейнера.
    margin-left: -18px;
    margin-right: -18px; */
    margin-top: 50px;
}

.services__item {   
    padding-left: 18px;
    padding-right: 18px;
    
}

.services__item:hover .services__item-inner {
    background: #CAA892;
    color: white;
}

.services__item:hover .services__item-inner * {
    color: white;
}

.services__item-inner {
    display: flex; /*Елемент поводиться як блоковий і викладає вміст згідно флекс-моделі*/
    padding: 30px;
    padding-right: 21px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px; 

    transition: .3s; /*CSS властивість transition встановлює ефект переходу між двома станами елемента. Використовується з псевдокласом :hover або :active або якщо стан елементу був динамічно змінений за допомогою JavaScript.*/
}

.box-icon{
    /* float: left; forget about this forever*/
    margin-right: 20px;
}

.hero__decoration2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 212px;
}

/* SECTION INTERIORIS */

.interioris{
    padding-top: 236px;
}

.interioris__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -22px;
    margin-right: -22px;
}

.interioris__left-block{
    width: 50%;
    padding-right: 22px;
    padding-left: 22px;
    max-width: 544px;
    margin-left: auto;
}

.interioris__left-block .button {
    margin-top: 46px;
}

.interioris__img-wrapper {
    width: 50%;
    padding-right: 22px;
    padding-left: 22px;
    text-align: right;
}

.interioris__img-inner {
    position: relative; /* need this for after element*/
}

.interioris__img-inner::after {
    content: "";
    position: absolute;
    left: -33px;
    top: -33px;
    width: 100%;
    height: 100%;
    border-radius: 140px 0 140px 0;
    border: 2px solid #B0855B;
    z-index: -1;
}

.interioris__img {
    max-width: 100%;
    margin: auto;
    border: 6px;
    border-radius: 140px 0 140px 0;
    display: block;
    height: 100%;
}

.button {
    display: inline-block;
    background: #37806B;
    border-radius: 20px 0px;
    line-height: 1;
    padding: 12px 35px;
    color: white;
    text-transform: uppercase;
}



/* SECTION WORKING */

.working{
    padding-bottom: 205px;
}

.working__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -22px;
    margin-right: -22px;
}

.working__left-block{
    width: 50%;
    padding-right: 22px;
    padding-left: 22px;
}

.working__left-block .button {
    margin-top: 46px;
}

.working__img-wrapper {
    /* width: 50%; */
    /* padding-right: 22px;
    padding-left: 22px; */
    /* text-align: right; */
}

.working__img-inner {
    position: relative; /* need this for after element*/
}

.working__img-inner::after {
    content: "";
    position: absolute;
    left: 33px;
    top: 33px;
    width: 100%;
    height: 100%;
    border-radius: 140px 0 140px 0;
    border: 2px solid #B0855B;
    z-index: -1;
}

.working__img {
    max-width: 100%;
    margin: auto;
    border: 6px;
    border-radius: 140px 0 140px 0;
    display: block;
    height: 100%;
}

.button {
    display: inline-block;
    background: #37806B;
    border-radius: 20px 0px;
    line-height: 1;
    padding: 12px 35px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.demo-text {
    font-size: 16rem;
    line-height: 1;
    font-weight: 700;
    -webkit-background-clip: text;
	background-clip: text;
	background-image: url('../img/bg-pic.png');
	color: transparent;
    background-size: contain;
}

.hero__decoration4 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 212px;
}

/* COMPLETED WORK */

.completed-work{
    background-color: #F8F8F8;
    padding-top: 87px;
}

.work__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -100px;
    margin-right: -100px;
}

.work__item-wrapper {
    padding-left: 100px;
    padding-right: 100px;
}

.work-project {
    width: 185px;
    padding: 47px 50px;
    background: #FFFFFF;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
    border-radius: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-project2 {
    width: 185px;
    padding: 47px 50px;
    background: #FFFFFF;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
    border-radius: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

.work-decoration {
    padding-left: 280px;
    margin-top: -291px;
}

.work-decoration2 {
    padding-left: 670px;
    margin-top: -291px;
}

.work-decoration3 {
    padding-left: 1060px;
    margin-top: -330px;
}


/* TESTIMONIALS */


.testimonials__heading {
    text-align: center;
    margin-top: 163px;
}

.testimonials__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -70px;
    margin-right: -70px;
    margin-top: 100px;
    padding-bottom: 183px;
}

.testimonials__item-wrapper {
    width: 50%;
    padding-left: 70px;
    padding-right: 70px;
}

.testimonials__item-content {
    width: 571px;
    max-width: 100%;
    height: 226px;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    padding-left: 100px;
    padding-top: 41px;
    margin-left: 70px;
} 

.testimonials__item-inner {
    position: relative;    
}

.test-icon {
    position: absolute;
    max-width: 60%;
    height: 60%;
    border: 6px;
    border-radius: 20px 0 20px 0;
    display: block;
    top: 45px; 
   
}

.test-span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #646464;
}

.quotes {
    position: absolute;
    left: 580px;
    top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 109px;
    color: #B0855B;
}

/* BLOG */

.blog {
    background-color: #F8F8F8;;
}

.blog__inner {
    display: flex;
    margin-left: -68px;
    margin-right: -68px;
}

.blog__item-wrapper {
    width: 50%;
    padding-left: 68px;
    padding-right: 68px;
}

.blog__item-img {
    position: relative;
    isolation: isolate;
    margin-bottom: 60px;
}

.blog__item-img::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 16px;
    width: 100%;
    height: 100%;
    display: block;
    border: 2px solid red;
    border-radius: 100px 0 100px 0;
    z-index: -1;
}

.blog__img {
    height: 387px;
    display: block;
    background-color: grey;
    border-radius: 100px 0 100px 0;
}

.blog__item-wrapper .button {
    margin-top: 45px;
}

/* EMAIL */

.email {
    padding-top: 197px;
    padding-bottom: 192px;
    text-align: center;
}

.email__inner hr {
    width: 416px;
    margin-top: 37px;
    margin-bottom: 37px;
    margin-left: auto;
    margin-right: auto;
}

.email-form form {
    display: flex;
    justify-content: center;
} 

.input {
    font-family: 'Open Sans', sans-serif;
    background: #EEEEEE;
    font-size: 18px;
    width:600px;
    height: 50px;
    border-radius: 20px 0px 0px 0px;
    outline: none; 
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}

.button-email {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: inline-block;
    position: relative;
    height: 50px;
    background: #37806B;
    border-radius: 0px 0px 20px 0px;
    line-height: 1;
    padding: 12px 35px;
    color: white;
    text-transform: uppercase;
    outline: none; 
    border: none;
}

.button-email:hover {
    background-color: #CAA892;
}

.form-p{
    margin-top: 37px;
    margin-bottom: 30px;
}

::placeholder {
    font-size: 18px;
    line-height: 55px;
    color: #646464;
  }

/* FOOTER */

.footer {
    background: #F8F8F8;
}

.footer__main {
    padding-top: 93px;
    padding-bottom: 69px;
}

.footer-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-inner__item h4 {
    margin-bottom: 35px;
}

.footer-logo .logo {
    display: inline-block;
    margin-bottom: 15px;
}

.copyright {
    border: 1px solid #C4C4C4;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    color:  #646464;;
}

.footer-inner__item a,
.footer-inner__item
{
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #646464;
    text-decoration: none;
}

.footer-inner__item a:hover {
    color: green;
}

.footer-inner__item > ul{
    list-style: none;
}

.Follow-Us a circle{
    fill: red;
}

.Follow-Us a:hover circle{
    fill: green;
}

.work-decoration3,
.work-decoration2,
.work-decoration1 {
    display: none;
}



